@import "../../global.scss";
 .portfoliolist{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;


    @include mobile{
        margin-right: 20px;
      } 
    &.active{
        background-color: $maincolor;
        color: white;
        
    }
}