@import "../../global.scss";
.contacts {
    background-color: lightblue;
    display: flex;
    @include mobile {
        flex-direction: column;
    }
    .left {
        flex: 1;
        overflow: hidden;
        img {
            height: 75%;
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 30px;
        }
        form {
            width: 70%;
            height: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            input {
                width: 300px;
                height: 20px;
                font-size: 14px;
                border-radius: 4px;
                border: 1px solid #e6e6e6;
                padding: 10px;
                @include mobile {
                    width: 200px;
                    height: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            textarea {
                width: 300px;
                height: 200px;
                font-size: 14px;
                border-radius: 4px;
                border: 1px solid #e6e6e6;
                padding: 10px;
                @include mobile {
                    width: 200px;
                    height: 100px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            button {
                width: 150px;
                height: 30px;
                color: white;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-weight: 500px;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
            span {
                color: green;
            }
        }
    }
}